<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>玩滑板就好好玩被，刮到花花草草就不好了！</string>
		<key>height</key>
		<integer>300</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/2746e1395bacc6763dadbcc823fe4101fd6814ec37aab0-vlBGaL</string>
		<key>width</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>恐怖的车祸瞬间?|?道趣儿</string>
		<key>height</key>
		<integer>260</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/d827909d751bd8a85b78637e9efa38a435ae75df348f80-eUwC8w</string>
		<key>width</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>瞬间被飞来的东西拍死?|?道趣儿</string>
		<key>height</key>
		<integer>130</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/0d8d7a2005b089fbe5fb3501d1889d0c63afb822185e57-szcR3Q</string>
		<key>width</key>
		<integer>300</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>风扇的GIF动态图</string>
		<key>height</key>
		<integer>214</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/4c1e62e0812f19668c5d9e081c2f3bdb78901fa555fcdb-hRhGsd</string>
		<key>width</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>好可爱的大兔子</string>
		<key>height</key>
		<integer>264</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/e3a29f16ba397a610b88f122474ce7507cb7267128a215-iaqGCj</string>
		<key>width</key>
		<integer>208</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>漂亮烟花的GIF动态图片</string>
		<key>height</key>
		<integer>258</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/f2a1c0ac22b9b7d428fa45fc0d5ed532b8fcfcc338623a-QdzJrA</string>
		<key>width</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>不得不说这只猫真是长成了一副“臭脸”……无论什么时候都是一副爱理不理的样子…~</string>
		<key>height</key>
		<integer>1492</integer>
		<key>imgType</key>
		<string>jpeg</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/723f4dd506d87aea55df6229320588e709baa598208b5-mHIOKZ</string>
		<key>width</key>
		<integer>433</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>前面有个那样的你们还敢上？</string>
		<key>height</key>
		<integer>300</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/0ccc6cfaa40d248a63fd833f17a4c0b9b510d8fdff600-X0czBc</string>
		<key>width</key>
		<integer>204</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>哎呀！没夹住！</string>
		<key>height</key>
		<integer>296</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/ea4e8b351d34117380e10e1952236a3c6c762041ffa12-Flm3w2</string>
		<key>width</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>打小就这么色！长大怎么办啊！！</string>
		<key>height</key>
		<integer>215</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/feb16b84dc389b146ddd068dcb7079d82b9eb544fb77f-j1A5NZ</string>
		<key>width</key>
		<integer>302</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>这是什么舞蹈？</string>
		<key>height</key>
		<integer>300</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/168b8e55944355b4692177ffab8c48247cc7709aff197-Y6GQ9P</string>
		<key>width</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>这车子真好！又有速度又能健身…</string>
		<key>height</key>
		<integer>225</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/5c95c1e0402aeaa894b07dd0b9e2bf13674ff061fff38-Y2AqRw</string>
		<key>width</key>
		<integer>391</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>这是开挂了…</string>
		<key>height</key>
		<integer>326</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/d8c6b48b876cb2f88c69db60b04cd8a4a484370dfff47-o0WO9l</string>
		<key>width</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>不得不说！哥们你太猛了…</string>
		<key>height</key>
		<integer>216</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/1d7ac6dba69c2115b50456b0b76ca2679afeb25bfe5d5-iKOTOT</string>
		<key>width</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>擦！不带这么玩的!</string>
		<key>height</key>
		<integer>275</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/61095e890251a200ee9852fec51066289f6bbc54fdff0-EXsAQl</string>
		<key>width</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>有一个，美丽的小女孩，我要带你，飞到天山去…</string>
		<key>height</key>
		<integer>134</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/9b7e653c46d8f31447710327a8fa4e00d1e87e6666f9a-4Ks1O9</string>
		<key>width</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>哎呦！您这体形还是算了吧。。。</string>
		<key>height</key>
		<integer>255</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/89c0e98247328ca20068ae99379ad6a3d6ac70d2ffb55-DeYJxi</string>
		<key>width</key>
		<integer>234</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>恐怖！瞬间压成肉饼！悲催的加油站，豆腐渣，房车进不去！！</string>
		<key>height</key>
		<integer>223</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/34e2ff76eff83ba9293d02c6649899d58ec4243eff3d5-WJHVth</string>
		<key>width</key>
		<integer>328</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>刺溜刺溜！</string>
		<key>height</key>
		<integer>360</integer>
		<key>imgType</key>
		<string>gif</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/4f8e156e069bd75b67d7bf1f3bc6a84e45c5e839ff4c0-FcaKic</string>
		<key>width</key>
		<integer>450</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>iphone 10</string>
		<key>height</key>
		<integer>323</integer>
		<key>imgType</key>
		<string>jpeg</string>
		<key>imgURL</key>
		<string>http://img.hb.aicdn.com/fd0f9a25f10206d1ed70694cbf972e332a169df84066-EVt2s8</string>
		<key>width</key>
		<integer>192</integer>
	</dict>
</array>
</plist>
